<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TeoBlog</title>
    <link rel="stylesheet" href="/static/css/myblog_index.css">
</head>
<body>
<!--header-->
<div>
    <a href="{% url 'myblog_index' %}" class="logo">TeoBlog</a>
</div>
<div class="top-container"></div>
<div class="right-container" onclick="toggleBlock()"><h1>{{ loginuser }}</h1></div>
<div class="right-container-hidden" id="newBlock">
    <img  class='img-user' src="/static/myweb/{{ avatar }}">
    <h2>{{ loginuser}}</h2>
    <h2><a href="{% url 'myweb_loginout' %}" >退出登录</a></h2>
</div>
{% block main_body %}
{% endblock %}
</body>
<script src="/static/js/index.js"></script>
</html>